.profile{
  width: 100%;
  margin-top: 30px;
  margin-bottom: 40px;
}
.profile__background{
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.profile__inner{
  display: flex;
  align-items: center;
}
.profile__img-box{
  position: relative;
}
.profile__img{
  border-radius: 50%;
  border: 5px solid #5b37fd;
  height: 210px;
  width: 210px;
  object-fit: contain;
  cursor: pointer;
  border: 3px solid #dfdfdf;
}
.profile__img{
    /* border-color: #7ba9e6; */
    /* border-color: #dd7be6; */
}
.profile__img-box:hover .profile__img-hover{
  display: block;
}
.profile__img-hover{
  left: 0;
  right: 0;
  position: absolute;
  display: none;
}
.profile__img-hover .profile__img-label:hover{
  background-color: #d6d6d6;
}
.profile__img-label{
  width: 100%;
  height: 35px;
  border: 1px solid #2766db;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__right-buttons{
  margin-bottom: 5px;
}
.profile__right-buttons svg{
  width: 25px;
  height: 25px;
  margin-left: 3px;
}
.profile__img-editor{
  width: 0;
  height: 0;
  background-color: #fff;
}
.profile__name span{
  margin-left: 8px;
  margin-top: 2px;
}
.profile__descr{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.profile__descr-left{
  height: 210px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.profile__edit-button{
  margin: 10px 20px 5px 0;
}
.profile__edit-button.active img{
  transform: rotate(45deg);
}
.profile__edit-img{
  transition: all .4s;
  width: 30px;
  height: 30px;
}
.profile__edit-window{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, .8);
  z-index: 1;
}
.profile__edit-inner{
  width: 600px;
  height: 700px;
  background-color: #fff;
  position: relative;
  border-radius: 8px;

}
.profile__edit-close{
  position: absolute;
  top: 8px;
  right: 5px;
}
.profile__edit-close svg{
  cursor: pointer;
  width: 30px;
  height: 30px;
}
.profile__edit-form{
  padding: 60px 30px 40px;
  height: 100%;
}
.profile__edit-formtitle{
  font-size: 25px;
  margin-bottom: 20px;
}
.profile__edit-label{
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  grid-gap: 10px;
}
.profile__edit-selectlabel{
  flex-direction: column;
  grid-gap: 0;
}
.profile__edit-selectlabel span{
  margin: 3px 0 0 5px;
}
.profile__edit-field{
  width: 100%;
  height: 35px;
  border-radius: 7px;
  background-color: transparent;
  border: 2px solid #6d9ffd;
  padding: 0 10px;
}
.profile__edit-field:focus-visible{
  border: none;
  outline: 2px solid #5479c0;
}
.profile__edit-formbutton{
  background-color: #dfdfdf;
  width: 98%;
  height: 40px;
  border-radius: 8px;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
  transition: all .3s;
}
.profile__edit-formbutton:hover{
  background-color: #b3b6b9;
}
.status__text{
  margin-bottom: 7px;
  font-size: 18px;
}
.status__edit-input{
  height: 30px;
  padding-left: 10px;
}