.userblock{
  display: flex;
  gap: 10px;
}
.userblock__img{
  width: 55px;
  height: 55px;
  object-fit: cover;
  margin-right: 3px;
  border-radius: 50%;
}
.userblock__name{
  font-size: 14px;
  color: #000;
  font-weight: 500;
  margin: 4px 0 3px;
}
.userblock__status{
  font-size: 12px;
}