.header{
  background-color: #f3f9fc;
}
.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.logo{
  height: 35px;
  margin-left: 30px;
	padding-right: 15px;
  display: inline-block;
  font-family: monospace;
  font-size: 35px;
  color: #5982e1;
  font-weight: 800;
}

.logo span {
	font-size: 20px;
  color: #b667e7;
  letter-spacing: -12px;
  font-weight: 600;
}

.auth{
  height: 100%;
  display: flex;
  align-items: center;
}
.auth__inner{
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
.auth__name{
  cursor: pointer;
}
.auth:hover .auth__menu{
  display: block;
}
.auth__menu{
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #f3f9fc;
}
.auth__menu-item{
  width: 100%;

}
.auth__menu-button{
  padding: 10px 15px;
  width: 100%;
}
.auth__link{
  color: inherit;
}